{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Inscription" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h3>{% trans "Inscription" %}</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-message">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error-message">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error-message">
                        {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="submit-button">{% trans "S'inscrire" %}</button>
        </form>
        <div class="form-footer">
            {% trans "Vous avez déjà un compte ?" %} <a href="{% url 'login' %}">{% trans "Se connecter" %}</a>
        </div>
    </div>
</body>
</html>
