{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="head-title">
        <div class="left">
            <h1>Modifier le groupe d'utilisateurs</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="table-data">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary custom-btn">Mettre à jour le groupe</button>
        <a href="{% url 'dashboard:groupes' %}" class="btn btn-secondary cancel-btn">Annuler</a>
    </form>
</div>

<style>
.container {
    max-width: 600px;
    margin-left: 1%;
}

h2.text-center {
    color: #343a40;
    font-size: 24px;
    font-weight: 600;
}

.table-data .form-group {
    margin-bottom: 15px;
}

.table-data input[type="text"],
.table-data input[type="email"],
.table-data input[type="password"],
.table-data textarea,
.table-data select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.table-data input[type="text"]:focus,
.table-data input[type="email"]:focus,
.table-data input[type="password"]:focus,
.table-data textarea:focus,
.table-data select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.btn.custom-btn {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn.custom-btn:hover {
    background-color: rgb(1, 109, 1);
    transform: scale(1.05);
}

.btn.cancel-btn {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 7.4px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
    text-decoration: none;
}

.btn.cancel-btn:hover {
    background-color: #0460c2; 
    transform: scale(1.05);
}
</style>
{% endblock %}
