{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="head-title">
        <div class="left">
            <h1>Modifier utilisateur</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="table-data">
        {{ form.as_p }}

        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>   
        <button type="submit" class="btn btn-primary update-btn">Update User</button>
        <a href="{% url 'dashboard:utilisateur' %}" class="btn btn-secondary cancel-btn">Cancel</a>

    </form>
</div>


<style>
    /* Custom CSS for form fields and button */
.container {
    max-width: 600px;
    margin-left: 1%;
    
}

h2.text-center {
    color: #343a40;
    font-size: 24px;
    font-weight: 600;
}

.table-data .form-group {
    margin-bottom: 15px;
}

.table-data input[type="text"],
.table-data input[type="email"],
.table-data input[type="password"],
.table-data textarea,
.table-data select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.table-data input[type="text"]:focus,
.table-data input[type="email"]:focus,
.table-data input[type="password"]:focus,
.table-data textarea:focus,
.table-data select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.btn.update-btn {
    background-color: #1e7e34; /* Green for update */
    color: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin-top: 5%;
    text-decoration: none;
}

.btn.update-btn:hover {
    background-color: rgba(40, 167, 69, 0.5); /* Darker green on hover */
    transform: scale(1.05);
}

.btn.update-btn:focus, .btn.update-btn:active {
    background-color: #1e7e34;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Style for the "Cancel" link */
.btn.cancel-btn {
    background-color:#007bff; /* Red for cancel */
    color: #fff;
    border: none;
    padding: 9.6px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
    text-decoration: none;
}

.btn.cancel-btn:hover {
    background-color:#0460c2; /* Darker red on hover */
    transform: scale(1.05);
}


</style>
{% endblock %}
