{% extends 'base.html' %}
{% block title %}Groupes d'Utilisateurs{% endblock %}

{% block content %}
<div class="head-title">
    <div class="left">
        <h1>Groupes d'Utilisateurs</h1> <!-- Titre de la page -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Groupes d'Utilisateurs</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Home</a>
            </li>
        </ul>
    </div>
</div>
<!-- Contenu principal pour "Groupes d'Utilisateurs" ici -->
{% endblock %}
